section.contacts-company
  -
    const contactsCompanyData = {
      branches: [
        {
          city: "Московский офис",
          street: "Новая пл., 6",
          telephone: {
            href: "tel:+74991124621",
            text: "8 (499) 112-46-21"
          }
        },
        {
          city: "Нижегородский офис",
          street: "ул. Рождественская, 26",
          telephone: {
            href: "tel:+78312889354",
            text: "8 (831) 2-889-354"
          }
        }
      ],
      headOffice: {
        city: "Таллинский офис",
        street: "3 korrus, Metro Plaza, Viru väljak 2",
        telephone: {
          href: "tel:+3726104253",
          text: "+372 610-42-53"
        },
        description: ["Oceanstart LLC\n", "Worldwide outsourcing and outstaffing"],
        site: {
          href: "https://oceanstart.dev/",
          text: "oceanstart.dev"
        },
        logo: {
          pictures: {
            picClass: "company-logo",
            source: [
              {
                minWidth: 0,
                type: "png",
                url: "/assets/img/logo/oceanstart-logo-sm",
                alt: "oceanstart-logo",
                wholeArea: true,
                // width: 59,
                // height: 59,
                unitsSize: "px"
              },
              {
                minWidth: 768,
                type: "png",
                url: "/assets/img/logo/oceanstart-logo-lg",
                alt: "oceanstart-logo",
                wholeArea: true,
                // width: 60,
                // height: 60,
                unitsSize: "px"
              },
              {
                minWidth: 1920,
                type: "png",
                url: "/assets/img/logo/oceanstart-logo-xl",
                alt: "oceanstart-logo",
                wholeArea: true,
                // width: 90,
                // height: 90,
                unitsSize: "px",
                lazy: true,
              }
            ]
          },
        }
      }
    }
  .contacts-company__branches.company-branches
    each branch in contactsCompanyData.branches
      .company-branches__branch.company-branch.company-data
        p.company-branch__city !{branch.city}
        p.company-branch__street.contacts-company__text !{branch.street}
        a.company-branch__tel.contacts-company__text(href=branch.telephone.href, target="_blank" class="link") !{branch.telephone.text}
  .contacts-company__head-office.company-head-office
    .company-head-office__content
      .company-head-office__bg
      .company-head-office__data.company-data
        p.company-head-office__city !{contactsCompanyData.headOffice.city}
        p.company-head-office__sreet.contacts-company__text !{contactsCompanyData.headOffice.street}
        a.company-head-office__tel.contacts-company__text(href=contactsCompanyData.headOffice.telephone.href, target="_blank" class="link") !{contactsCompanyData.headOffice.telephone.text}
      .company-head-office__footer
        .company-head-office__info
          p.company-head-office__description.contacts-company__text !{contactsCompanyData.headOffice.description}
          .company-head-office__site
            a.company-head-office__link(href=contactsCompanyData.headOffice.site.href, target="_blank" class="link") !{contactsCompanyData.headOffice.site.text}
            svg.company-head-office__icon(aria-hidden='true' viewbox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M5.61695 0.28634C5.33059 0.28836 5.10005 0.527067 5.10203 0.819507C5.10401 1.11195 5.33776 1.34738 5.62412 1.34536L7.55385 1.33174L4.26098 4.69449C4.05849 4.90128 4.05849 5.23655 4.26098 5.44334C4.46348 5.65013 4.79178 5.65013 4.99428 5.44334L8.28715 2.0806L8.27381 4.05128C8.27184 4.34372 8.50238 4.58243 8.78874 4.58445C9.0751 4.58647 9.30885 4.35104 9.31083 4.0586L9.33289 0.796973C9.33385 0.655271 9.27915 0.519088 9.18103 0.418887C9.08291 0.318686 8.94956 0.262828 8.8108 0.263807L5.61695 0.28634ZM1.03704 1.85253C1.03704 1.56009 1.26918 1.32301 1.55555 1.32301H3.11111C3.39748 1.32301 3.62963 1.08594 3.62963 0.79349C3.62963 0.501043 3.39748 0.263968 3.11111 0.263968H1.55555C0.696446 0.263968 0 0.975192 0 1.85253V8.20679C0 9.08412 0.696446 9.79535 1.55555 9.79535H7.77777C8.63688 9.79535 9.33333 9.08412 9.33333 8.20679V6.61822C9.33333 6.32578 9.10118 6.0887 8.81481 6.0887C8.52844 6.0887 8.29629 6.32578 8.29629 6.61822V8.20679C8.29629 8.49923 8.06414 8.73631 7.77777 8.73631H1.55555C1.26918 8.73631 1.03704 8.49923 1.03704 8.20679V1.85253Z' fill='CurrentColor')

        .company-head-office__logo
          +picture(contactsCompanyData.headOffice.logo.pictures)(aria-hidden="true")
