section.contacts-us
  -
    const contactUsData = {
      title: "Обсудить проект",
      description: "Расскажите о&nbsp;проекте в&nbsp;форме справа или свяжитесь с&nbsp;нами напрямую",
      contacts: [
        {
          href: "mailto:hello@riverstart.ru",
          text: "hello@riverstart.ru",
          postscript: "Написать нам на&nbsp;почту"
        },
        {
          href: "https://t.me/ekhohrin",
          text: "@ekhohrin",
          postscript: "Написать нашему аккаунт- директору в&nbsp;Telegram",
          avatar: {
            pictures: {
              picClass: "contacts-us-account-director",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/avatars/account-director-sm",
                  alt: "iavatar account director",
                  wholeArea: true,
                  // width: 30,
                  // height: 30,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/avatars/account-director-md",
                  alt: "iavatar account director",
                  wholeArea: true,
                  // width: 32,
                  // height: 33.35,
                  unitsSize: "px"
                },
                {
                  minWidth: 1280,
                  type: "png",
                  url: "/assets/img/avatars/account-director-lg",
                  alt: "iavatar account director",
                  wholeArea: true,
                  // width: 37.33,
                  // height: 38.13,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/avatars/account-director-xl",
                  alt: "avatar account director",
                  wholeArea: true,
                  lazy: true,
                  // width: 56,
                  // height: 56,
                  unitsSize: "px"
                }
              ]
            },
          }
        }
      ]
    }
    
  .contacts-us__header
    h2.contacts-us__title !{contactUsData.title}
    p.contacts-us__description !{contactUsData.description}
  .contacts-us__contacts.contacts
    each contact in contactUsData.contacts
      .contacts-us__contact
        .contacts-us__address
          if contact.avatar
            .contacts-us__avatar
              +picture(contact.avatar.pictures)(aria-hidden="true")
          a.contacts-us__mail(href=contact.href, target="_blank") !{contact.text}
        span.contacts-us__postscript !{contact.postscript}

