form.contacts-form.js-form(
  action="#"
  novalidate
  autocomplete="off"
  data-goal-id='vip_hall_order'
  data-goal-event='formSendSuccess'
)
  -
    const successData = {
      title: 'Спасибо за заявку!',
      text: 'Ваша заявка успешно отправлена. Мы свяжемся с вами в ближайшее время.'
    }
    
    const errorData = {
      title: 'Что-то пошло не так',
      text: 'Пожалуйста, попробуйте отправить форму еще раз.'
    }
  
  +form-message(successData, errorData)
  
  -
    
    const formList = {
      el1: {
        title: 'Что вас интересует?',
        items: [
          {
            name: 'interesting',
            label: 'Сайт',
            value: 1,
          },
          {
            name: 'interesting',
            label: 'Веб-сервис',
            value: 2,
          },
          {
            name: 'interesting',
            label: 'Маркетинг',
            value: 3,
          },
          {
            name: 'interesting',
            label: 'Приложение',
            value: 4,
          },
          {
            name: 'interesting',
            label: 'Брендинг',
            value: 5,
          },
          {
            name: 'interesting',
            label: 'Что-то ещё',
            value: 6,
          },
        ],
      },
      el2: {
        fio: {
          option: {
            placeholder: 'Имя',
            id: 'form_fio',
            errorMessage: 'Обязательное поле',
            isLabelOutside: false,
            classes: '_contacts-form input-fio'
          }
        },
        telephone: {
          option: {
            placeholder: 'Телефон',
            id: 'form_telephone',
            errorMessage: 'Укажите корректный телефон',
            isLabelOutside: false,
            classes: '_contacts-form input-telephone',
          }
        },
        email: {
          option: {
            placeholder: 'Почта',
            id: 'form_email',
            errorMessage: 'Необходимо указать электронную почту',
            isLabelOutside: false,
            classes: '_contacts-form input-email',
          }
        }
      },
      el3: {
        textarea: {
          option: {
            placeholder: 'Опишите задачу своими словами',
            id: 'form_feedback',
            errorMessage: 'Необходимо указать текст обращения',
            isLabelOutside: false,
            classes: '_contacts-form'
          }
        }
      },
      el4: {
        title: 'Бюджет (₽):',
        items: [
          {
            name: 'budget',
            label: 'до 500к',
            classes: '_together',
            value: 1
          },
          {
            name: 'budget',
            label: 'до 1 млн',
            classes: '_together',
            value: 2
          },
          {
            name: 'budget',
            label: '>1 млн',
            classes: '_together',
            value: 3
          }
        ],
      },
      el5: {
        placeholder: 'Прикрепить бриф',
        iconLeft: 'attach',
        id: 'file',
        isLabelOutside: false,
        classes: '_contacts-form',
        buttons: false,
        errorMessage: 'Необходимо заполнить это поле',
      },
      button: {
        text: 'Отправить заявку'
      },
      privacyPolicy: 'Нажав на кнопку, вы соглашаетесь с политикой <a href="https://02.rkn.gov.ru/directions/p4172/p18331/" class="link" target="_blank"> обработки персональных данных</a>'
    }
  .contacts-form__list
    .contacts-form__item.contacts-form__item--1.contacts-form-item.js-tabs
      p.contacts-form-item__title !{formList.el1.title}
      +group-tab-radio({items:formList.el1.items})(class='pb--sm')
    .contacts-form__item.contacts-form__item--2
      +input(formList.el2.fio.option)(
        type='text',
        name='name',
        required,
      )
      +input-mask(formList.el2.telephone.option)(
        type='tel'
        name='tel1'
        required
        data-inputmask-alias="tel"
        data-inputmask-inputmode="tel"
      )
      +input-mask(formList.el2.email.option)(
        type='text'
        name='email'
        required
        data-inputmask-alias="email"
        data-inputmask-inputmode="email"
      )
      
      
    .contacts-form__item.contacts-form__item--3
      +input(formList.el3.textarea.option)(
        type='textarea',
        name='message',
        style='resize:none;',
        required
      )
    .contacts-form__item.contacts-form__item--4
      p.contacts-form-item__title !{formList.el4.title}
      +group-tab-radio({items:formList.el4.items})(class=['pb--sm','together'])
    .contacts-form__item.contacts-form__item--5
      +input-file(formList.el5)(
        name='file'
        data-max-file-count-error-message='Достигнуто максимальное количество файлов'
        data-max-file-size-error-message='Превышен максимальный размер файла {{name}}'
        data-max-file-accept-error-message='Тип файла {{name}} недопустим'
        data-file-count-message='{{name}}'
        data-max-file-count='1'
        data-max-file-size='10'
        accept='.doc,.docx,.pdf, .png, .jpg, .jpeg, .JPEG'
        data-use-clipboard
      )
  .contacts-form__button
    +btn({
      text: formList.button.text
    })(
      type='submit'
    )._primary._mobile-wide._contacts-form
  p.contacts-form__privacy-policy !{formList.privacyPolicy}


